---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<api_key>&lat=38.89&lon=-77.01&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.89,"lon":-77.01,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1661308429,"sunrise":1661250543,"sunset":1661298761,"temp":71.46,"feels_like":72.07,"pressure":1011,"humidity":80,"dew_point":64.96,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.44,"wind_deg":200,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1661308440,"precipitation":0},{"dt":1661308500,"precipitation":0},{"dt":1661308560,"precipitation":0},{"dt":1661308620,"precipitation":0},{"dt":1661308680,"precipitation":0},{"dt":1661308740,"precipitation":0},{"dt":1661308800,"precipitation":0},{"dt":1661308860,"precipitation":0},{"dt":1661308920,"precipitation":0},{"dt":1661308980,"precipitation":0},{"dt":1661309040,"precipitation":0},{"dt":1661309100,"precipitation":0},{"dt":1661309160,"precipitation":0},{"dt":1661309220,"precipitation":0},{"dt":1661309280,"precipitati[...]
